body {
    font-family: "Pangolin";
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: lightgoldenrodyellow;
    min-height: 100vh;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: lightgray;
    /* margin-top: 100vh; */
}

/* main elements in App.jsx */
.nav-bar {
    /* width: 300px;
    margin-left: auto;
    margin-right: 0; */
    display: flex;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.logo {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
}

/* subcomponents of Timer.jsx */
.timer {
    width: 650px;
    height: 400px;
    background-color: lightgray;
    border-radius: 20px;
    margin: 0 auto; /* center horizontally */
    margin-top: 20px;
}

.time {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

.time-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-button {
    padding: 10px 80px;
    margin-left: 50px;
}

button {
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Pangolin";
    cursor: pointer;
}

.mode-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.mode-button {
    border: none;
    background-color: transparent;
}

.mode-button.active {
    background-color: darkgray;
}

.skip-button {
    border: none;
    background-color: transparent;
}

/* stats */
.stats-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-window {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    height: 800px;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x-button {
    border: none;
    background: transparent;
}

h2 {
    margin: 0;
}