body {
    font-family: "Pangolin";
    margin: 0;
    color: white;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #b1b695;
    min-height: 100vh;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #9CA27A;
    /* margin-top: 100vh; */
}

/* main elements in App.jsx */
.nav-bar {
    display: flex;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.img-button {
    width: 25px;
    vertical-align: middle;
    padding-right: 8px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.logo {
    border: none;
    background-color: transparent;
    padding: 0;
    /* margin-top: 10px; */
}

/* subcomponents of Timer.jsx */
.timer {
    width: 650px;
    height: 400px;
    background-color: #9CA27A;
    border-radius: 20px;
    margin: 0 auto; /* center horizontally */
    margin-top: 20px;
}

.time {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

.time-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-button {
    padding: 10px 80px;
    margin-left: 50px;
    background-color: white;
    color: #2E412C;
}

button {
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Pangolin";
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #9CA27A;
    color: white;
    /* font-weight: bold; */
}

.mode-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.mode-button {
    border: none;
    background-color: transparent;
}

.mode-button.active {
    background-color: #858C61;
}

.skip-button {
    border: none;
    background-color: transparent;
}

/* stats */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-window {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 800px;
    color: black;
    font-size: 18px;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.x-button {
    border: none;
    background: transparent;
    padding: 0;
}

h2 {
    margin: 0;
}

.stat-box { 
    background: #E9EAE1;
    width: 130px;
    border-radius: 10px;
    padding: 15px;
    text-align: right;
}

.stat-num {
    font-size: 40px;
}

.stat-text {
    font-size: 14px;
}

.stat-container {
    display: flex;
    justify-content: row;
    gap: 50px;
}

.settings-window {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    height: 800px;
    color: black;
    font-size: 18px;
}

.overlay-subheading {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.setting-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
    margin-bottom: 15px;
}

.setting-container input {
    width: 120px;
    height: 35px;
    padding: 10px;
    background-color: #E9EAE1;
    border: none;
    font-size: 16px;
    border-radius: 7px;
    box-sizing: border-box;
}

.setting-subcontainer {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 3px;
    margin-bottom: 3px;
}